<footer id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 order-4 order-md-1 text-center text-md-left">
				<div class="p-4">
					<img alt="footer-logo" src="../../../assets/images/footer-logo.svg">
					<h5 class="footer-logo-h5">KiwiDom Ogłoszenia nieruchomości</h5>
				</div>
			</div>
			<div class="col-md-4 order-md-2 order-1 text-center text-md-left">
				<div class="footer-newsletter">
					<h4>Zapisz się do newslettera</h4>
					<p>
						Szybko i łatwo dostawaj emaile z nowościami.
						<br>
						Bez spamowania.
					</p>
					<div class="footer-newsletter-div">
						<label class="m-0">
							<input placeholder="twój email…" type="text">
						</label>
						<button type="button">Subskrybuj</button>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-6 order-3">
				<div class="footer-links">
					<ul class="text-md-center">
						<li>
							<a href="#">Strona główna</a>
						</li>
						<li>
							<a href="#">Rejestracja</a>
						</li>
						<li>
							<a href="#">Logowanie</a>
						</li>
						<li>
							<a href="#">Reset hasła</a>
						</li>
						<li>
							<a href="#">Dodaj ogłoszenie</a>
						</li>
						<li>
							<a href="#">Moje ogłoszenia</a>
						</li>
						<li>
							<a href="#">Ustawienia konta</a>
						</li>
						<li>
							<a href="#">Kanał RSS</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-6 order-2">
				<div class="footer-links">
					<ul class="text-md-center">
						<li>
							<a href="#">Pomoc</a>
						</li>
						<li>
							<a href="#">O nas</a>
						</li>
						<li>
							<a href="#">Regulamin</a>
						</li>
						<li>
							<a href="#">Polityka prywatności</a>
						</li>
						<li>
							<a href="#">Płatności</a>
						</li>
						<li>
							<a href="#">Kontakt</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>