<!-- NEWS LETTER MODAL -->
<section id="newsletter-modal-section">
	<div class="modal fade" id="newsletter-modal" tabindex="-1" role="dialog"
	     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content newsletter-bg">
				<div class="modal-body p-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<img alt="modal-close-icon" src="../../../../assets/images/close.svg">
					</button>
					<form action="">
						<div class="container-fluid no-gutters">
							<div class="row no-gutters">
								<div class="col-6 d-none d-md-block">
									<img src="../../../../assets/images/newsletter-img.png" alt="newsletter-img" class="img-fluid">
								</div>
								<div class="col-12 col-md-6">
									<div class="newsletter-right">
										<h1>Wygraj koszulkę</h1>
										<p>Wystarczy zapisać się do newslettera i raz w miesiącu masz szanse wygrać
											super koszulkę!</p>
										<label class="d-block" for="newsletter-modal-section">
											<input placeholder="Twój email…" type="text" class="modal-input-text">
											<button class="advanced-search-button my-3" type="button">Sign up!</button>
											<button data-dismiss="modal" aria-label="Close"
											        class="advanced-search-button bg-transparent my-3 d-block d-sm-none"
											        type="button">Cancel
											</button>
										</label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

