<!-- FORGOTTEN PASSWORD MODAL 1 -->
<section id="forgotten-password-modal-section-1">
	<div class="modal fade" id="forgotten-password-modal-1" tabindex="-1" role="dialog"
	     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body py-3">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<img alt="modal-close-icon" src="../../../../assets/images/close.svg">
					</button>
					<form action="">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<p class="text-center">Password reset</p>
								</div>
								<div class="col-12">
									<label class="d-block" for="forgotten-password-modal-section-1">
										<input placeholder="Email" type="text" class="modal-input-text">
										<input placeholder="Captcha" type="text" class="modal-input-text">

										<button class="advanced-search-button my-3" type="button" data-dismiss="modal"
										        aria-label="Close"
										        data-toggle="modal" data-target="#forgotten-password-modal-2">
											reset
										</button>

										<a class="modal-link my-3" href="#" data-dismiss="modal" aria-label="Close"
										   data-toggle="modal" data-target="#register-modal">Not a member yet?
											<span style="font-family: 'HKGrotesk-Medium', sans-serif;">Register now</span>
										</a>
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>