<app-rheader></app-rheader>
<!-- BREADCRUMBS -->
<div class="m-lg-0 my-5" id="breadcrumbs">
	<div class="container-fluid clearfix">
		<a href="my-adverts" style="text-decoration: underline; font-family: 'HKGrotesk-Bold', sans-serif;">My
			Adverts</a>
		<a href="favorites">Favorites</a>
		<a href="settings">Settings</a>
	</div>
</div>
<!-- BLOG -->
<div id="my-adverts">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-2 my-2 m-md-0 order-3 order-md-1">
				<label class="checkbox-container m-0">
					<input type="checkbox">
					<span class="advanced-checkmark"></span>
					<p>Select all</p>
				</label>
			</div>
			<div class="col-md-4 col-lg-2 my-2 m-md-0 order-2 order-md-2">
				<button class="advanced-search-button bg-red">
					<img class="mb-1" alt="turn-off" src="../../../assets/images/turn-off-shape.svg">
					deactivate
				</button>
			</div>
			<div class="col-md-4 col-lg-2 my-2 m-md-0 order-1 order-md-3">
				<button class="advanced-search-button">
					<img class="mb-1" alt="refresh" src="../../../assets/images/refresh-icon.svg">
					refresh
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="single-advert">
					<div class="row justify-content-between">
						<div class="col-lg-4 col-md-6">
							<div class="row">
								<div class="col-2">
									<label class="checkbox-container p-0 m-0">
										<input type="checkbox">
										<span class="advanced-checkmark position-relative d-block"></span>
									</label>
								</div>
								<div class="col-10">
									<div class="basic-info">
										<h4>Title of my odvert can be up to 80 characters</h4>
										<h4>Location</h4>
										<div class="price-categoty">
											<div class="top">
												<p class="pr-3">17000</p>
												<p>no adverts <span> 17</span></p>
											</div>
											<div class="top">
												<p class="pr-3"><span>145 </span> views</p>
												<p><span><a>click for stats</a></span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mt-4 m-md-0">
							<div class="row">
								<div class="col-6">
									<button class="advanced-search-button bg-sliver">edit</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="deactivate" src="../../../assets/images/deactivate-red.svg">
										deactivate
									</button>
								</div>
								<div class="col-6">
									<button class="promote-it promote-it-1 w-100 m-0">
										promote it
										<img alt="promotion" src="../../../assets/images/promotion.svg">
									</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="refresh" src="../../../assets/images/refresh-green.svg">
										refresh
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="promote-it-toggle promote-it-toggle-adverts-1">
						<div class="row">
							<div class="col-lg-8 col-12">
								<div class="row">
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #807b77;">standard</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #5e5e5e;">silver</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #e6802f;">gold</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="row">
									<div class="col-12">
										<div class="paying-method mb-4 m-md-0">
											<div class="container">
												<p>Promowanie ogłoszenia: 0,25 zł / 7 dni</p>
												<h3>Wybierz i zapłać za promowanie</h3>
												<div class="row justify-content-center mt-3">
													<div class="col-md-6">
														<button class="dotpay my-3 m-md-0">
															<img alt="dot-pay" src="../../../assets/images/dotpay.svg">
														</button>
													</div>
													<div class="col-md-6">
														<button class="paypal my-3 m-md-0">
															<img alt="pay-pal" src="../../../assets/images/paypal.svg">
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12">
				<div class="single-advert">
					<div class="row justify-content-between">
						<div class="col-lg-4 col-md-6">
							<div class="row">
								<div class="col-2">
									<label class="checkbox-container p-0 m-0">
										<input type="checkbox">
										<span class="advanced-checkmark position-relative d-block"></span>
									</label>
								</div>
								<div class="col-10">
									<div class="basic-info">
										<h4>Title of my odvert can be up to 80 characters</h4>
										<h4>Location</h4>
										<div class="price-categoty">
											<div class="top">
												<p class="pr-3">17000</p>
												<p>no adverts <span> 17</span></p>
											</div>
											<div class="top">
												<p class="pr-3"><span>145 </span> views</p>
												<p><span><a>click for stats</a></span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mt-4 m-md-0">
							<div class="row">
								<div class="col-6">
									<button class="advanced-search-button bg-sliver">edit</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="deactivate" src="../../../assets/images/deactivate-red.svg">
										deactivate
									</button>
								</div>
								<div class="col-6">
									<button class="promote-it promote-it-2 w-100 m-0">
										promote it
										<img alt="promotion" src="../../../assets/images/promotion.svg">
									</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="refresh" src="../../../assets/images/refresh-green.svg">
										refresh
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="promote-it-toggle promote-it-toggle-adverts-2">
						<div class="row">
							<div class="col-lg-8 col-12">
								<div class="row">
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #807b77;">standard</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #5e5e5e;">silver</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #e6802f;">gold</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="row">
									<div class="col-12">
										<div class="paying-method mb-4 m-md-0">
											<div class="container">
												<p>Promowanie ogłoszenia: 0,25 zł / 7 dni</p>
												<h3>Wybierz i zapłać za promowanie</h3>
												<div class="row justify-content-center mt-3">
													<div class="col-md-6">
														<button class="dotpay my-3 m-md-0">
															<img alt="dot-pay" src="../../../assets/images/dotpay.svg">
														</button>
													</div>
													<div class="col-md-6">
														<button class="paypal my-3 m-md-0">
															<img alt="pay-pal" src="../../../assets/images/paypal.svg">
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12">
				<div class="single-advert">
					<div class="row justify-content-between">
						<div class="col-lg-4 col-md-6">
							<div class="row">
								<div class="col-2">
									<label class="checkbox-container p-0 m-0">
										<input type="checkbox">
										<span class="advanced-checkmark position-relative d-block"></span>
									</label>
								</div>
								<div class="col-10">
									<div class="basic-info">
										<h4>Title of my odvert can be up to 80 characters</h4>
										<h4>Location</h4>
										<div class="price-categoty">
											<div class="top">
												<p class="pr-3">17000</p>
												<p>no adverts <span> 17</span></p>
											</div>
											<div class="top">
												<p class="pr-3"><span>145 </span> views</p>
												<p><span><a>click for stats</a></span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mt-4 m-md-0">
							<div class="row">
								<div class="col-6">
									<button class="advanced-search-button bg-sliver">edit</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="deactivate" src="../../../assets/images/deactivate-red.svg">
										deactivate
									</button>
								</div>
								<div class="col-6">
									<button class="promote-it promote-it-3 w-100 m-0">
										promote it
										<img alt="promotion" src="../../../assets/images/promotion.svg">
									</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="refresh" src="../../../assets/images/refresh-green.svg">
										refresh
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="promote-it-toggle promote-it-toggle-adverts-3">
						<div class="row">
							<div class="col-lg-8 col-12">
								<div class="row">
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #807b77;">standard</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #5e5e5e;">silver</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #e6802f;">gold</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="row">
									<div class="col-12">
										<div class="paying-method mb-4 m-md-0">
											<div class="container">
												<p>Promowanie ogłoszenia: 0,25 zł / 7 dni</p>
												<h3>Wybierz i zapłać za promowanie</h3>
												<div class="row justify-content-center mt-3">
													<div class="col-md-6">
														<button class="dotpay my-3 m-md-0">
															<img alt="dot-pay" src="../../../assets/images/dotpay.svg">
														</button>
													</div>
													<div class="col-md-6">
														<button class="paypal my-3 m-md-0">
															<img alt="pay-pal" src="../../../assets/images/paypal.svg">
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12">
				<div class="single-advert">
					<div class="row justify-content-between">
						<div class="col-lg-4 col-md-6">
							<div class="row">
								<div class="col-2">
									<label class="checkbox-container p-0 m-0">
										<input type="checkbox">
										<span class="advanced-checkmark position-relative d-block"></span>
									</label>
								</div>
								<div class="col-10">
									<div class="basic-info">
										<h4>Title of my odvert can be up to 80 characters</h4>
										<h4>Location</h4>
										<div class="price-categoty">
											<div class="top">
												<p class="pr-3">17000</p>
												<p>no adverts <span> 17</span></p>
											</div>
											<div class="top">
												<p class="pr-3"><span>145 </span> views</p>
												<p><span><a>click for stats</a></span></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mt-4 m-md-0">
							<div class="row">
								<div class="col-6">
									<button class="advanced-search-button bg-sliver">edit</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="deactivate" src="../../../assets/images/deactivate-red.svg">
										deactivate
									</button>
								</div>
								<div class="col-6">
									<button class="promote-it promote-it-4 w-100 m-0">
										promote it
										<img alt="promotion" src="../../../assets/images/promotion.svg">
									</button>
									<button class="advanced-search-button bg-transparent text-dark-green">
										<img alt="refresh" src="../../../assets/images/refresh-green.svg">
										refresh
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="promote-it-toggle promote-it-toggle-adverts-4">
						<div class="row">
							<div class="col-lg-8 col-12">
								<div class="row">
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #807b77;">standard</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #5e5e5e;">silver</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
									<div class="col-md-4">
										<label class="custom-radio-container">
											<input type="radio" name="promote_option-1">
											<span class="checkmark">
                                        <h3 style="color: #e6802f;">gold</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="row">
									<div class="col-12">
										<div class="paying-method mb-4 m-md-0">
											<div class="container">
												<p>Promowanie ogłoszenia: 0,25 zł / 7 dni</p>
												<h3>Wybierz i zapłać za promowanie</h3>
												<div class="row justify-content-center mt-3">
													<div class="col-md-6">
														<button class="dotpay my-3 m-md-0">
															<img alt="dot-pay" src="../../../assets/images/dotpay.svg">
														</button>
													</div>
													<div class="col-md-6">
														<button class="paypal my-3 m-md-0">
															<img alt="pay-pal" src="../../../assets/images/paypal.svg">
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
