<app-rheader></app-rheader>
<!-- BREADCRUMBS -->
<div class="m-lg-0 mt-5" id="breadcrumbs">
	<div class="container-fluid clearfix">
		<a href="my-adverts">My
			Adverts</a>
		<a href="favorites" style="text-decoration: underline; font-family: 'HKGrotesk-Bold', sans-serif;">Favorites</a>
		<a href="settings">Settings</a>
	</div>
</div>

<!-- FAVORITE ADDS -->
<div id="favorite-adds">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="true"></ad-card>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="false"></ad-card>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="false"></ad-card>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="true"></ad-card>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="false"></ad-card>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6 col-12">
				<div class="featured-add grid-off-slider">
					<ad-card [loginState]="true"  [isOkazja]="true"></ad-card>
				</div>
			</div>
		</div>
	</div>
</div>
