<!-- COOKIE POLICY -->
<div id="cookie-policy">
	<p>
		Szanowny użytkowniku, ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej.
		Więcej
		na ten temat w dziale <a href="#">Cookies</a>. Pragniemy Cię poinformować, że nasz serwis internetowy może
		personalizować treści
		marketingowe do Twoich potrzeb. Wyrażenie zgody jest dobrowolne. Masz prawo do: dostępu do Twoich danych, ich
		sprostowania oraz usunięcia. Więcej na ten znajdziesz w <a href="#">Polityce Prywatności</a>.
	</p>

	<div class="d-block clearfix mt-3 text-center mb-3 m-sm-0">
		<button class="close-cookie float-none float-sm-right">Akceptuje</button>
	</div>
	<div class="d-block text-center">
		<button class="close-cookie-bottom">close</button>
	</div>
</div>