<app-rheader></app-rheader>

<!-- SITE MAP -->
<section id="site-map">
	<div class="container-fluid">
		<div class="site-map">
			<a href="#">home</a> &gt; <a href="#">for sale</a> &gt; <a href="#">advert title</a>
		</div>
	</div>
</section>

<!-- ADD CONTENT -->
<section id="add-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 no-gutters">

				<div class="gallery-wrap">
					<!-- Flickity HTML init -->
					<div class="carousel gallery-main" data-flickity>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/1.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/2.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/3.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/4.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/5.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<div class="left-side"></div>
							<div class="right-side"></div>
							<img alt="main-slider-img" src="../../../assets/images/6.jpg" class="img-fluid">
						</div>
					</div>

					<div class="carousel gallery-nav d-none d-lg-block"
					     data-flickity='{ "asNavFor": ".gallery-main"}'>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/1.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/2.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/3.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/4.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/5.jpg" class="img-fluid">
						</div>
						<div class="carousel-cell">
							<img alt="nav-slider-img" src="../../../assets/images/6.jpg" class="img-fluid">
						</div>
					</div>
				</div>

				<iframe class="desktop-map d-none d-lg-block"
				        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d620340.4285124696!2d19.078747192884798!3d52.60206893310197!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssr!2srs!4v1568644384820!5m2!1ssr!2srs"
				        width="100%" height="500" style="border:0; margin: 25px 0;" allowfullscreen=""></iframe>

			</div>
			<div class="col-lg-6 no-gutters">
				<div class="container-fluid">
					<div class="row justify-content-between">
						<div class="col-4 col-sm-3">
							<p class="date-views">
								<span>18-04-2019</span> Views:
								<span style="font-family: 'HKGrotesk-Bold', sans-serif;">7</span>
							</p>
						</div>

						<div class="col-8 text-right">
							<button class="promote-it">promote it<img alt="promotion" src="../../../assets/images/promotion.svg"></button>

							<div class="add-to-fave-single d-none d-md-inline-block">
								<a>dodaj do schowka<img class="ml-1" alt="add-to-fave"
								                        src="../../../assets/images/add-to-fave-dark.svg"></a>
								<div class="logged-in-single text-center">
									<p class="mb-2">You need to be logged in to add</p>
									<button class="advanced-search-button">log in</button>
								</div>
							</div>
						</div>
					</div>

					<div class="promote-it-toggle">
						<div class="row">
							<div class="col-md-4">
								<label class="custom-radio-container">
									<input type="radio" checked="checked" name="promote_option">
									<span class="checkmark">
                                        <h3 style="color: #807b77;">standard</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
								</label>
							</div>
							<div class="col-md-4">
								<label class="custom-radio-container">
									<input type="radio" name="promote_option">
									<span class="checkmark">
                                        <h3 style="color: #5e5e5e;">silver</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
								</label>
							</div>
							<div class="col-md-4">
								<label class="custom-radio-container">
									<input type="radio" name="promote_option">
									<span class="checkmark">
                                        <h3 style="color: #e6802f;">gold</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, short text</p>
                                    </span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="paying-method mb-4 m-md-0">
									<div class="container">
										<p>Promowanie ogłoszenia: 0,25 zł / 7 dni</p>
										<h3>Wybierz i zapłać za promowanie</h3>
										<div class="row justify-content-center mt-3">
											<div class="col-md-3">
												<button class="dotpay my-3 m-md-0">
													<img alt="dot-pay" src="../../../assets/images/dotpay.svg">
												</button>
											</div>
											<div class="col-md-3">
												<button class="paypal my-3 m-md-0">
													<img alt="pay-pal" src="../../../assets/images/paypal.svg">
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2">
							<a href="profile-page.html">
								<img src="../../../assets/images/person.png" alt="profile-pic" class="img-fluid">
							</a>
						</div>
						<div class="col-10">
							<a href="profile-page.html">
								<h3 class="head-location">Kasia Anna Pierwsza</h3>
							</a>

							<a href="profile-page.html">
								<h4 class="head-name">Adrian</h4>
							</a>

							<div class="row mt-4">
								<div class="col-xl-4 col-lg-6 col-5">
									<a href="tel:555-555-5555"
									   class="advanced-search-button bg-white text-green fixed-call-button">
										call
									</a>
								</div>
								<div class="col-xl-4 col-lg-6 col-5">
									<button class="advanced-search-button text-white quick-email-toggle-button fixed-email-button">
										quick
										email
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="quick-email-toggle mt-5 mt-sm-3">
						<form action="">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="d-block" for="name">Name</label>
										<input id="name" class="form-control mb-4 mb-sm-0" type="text">

										<!-- EMAIL MOBILE -->
										<label class="d-block d-block d-sm-none" for="email-mobile">Email</label>
										<input id="email-mobile" class="form-control d-block d-sm-none mb-4 mb-sm-0"
										       type="text">

										<label class="d-block" for="message">Message</label>
										<textarea id="message" class="form-control  mb-3 mb-sm-0"></textarea>

										<label class="checkbox-container text-dark pl-4 d-none d-sm-block"
										       style="font-size: .7rem;">
											Akceptuję regulamin i politykę prywatności serwisu (Regulamin serwisu -
											Polityka prywatności)
											<input type="checkbox">
											<span class="advanced-checkmark" style="left: 0; top: 3px;"></span>
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">

										<label class="d-none d-sm-block" for="email">Email</label>
										<input id="email" class="form-control d-none d-sm-block" type="text">

										<div class="custom-file">
											<input class="custom-file-input" type="file" id="myfile">
											<label class="custom-file-label" for="myfile">Choose file</label>
										</div>

										<label class="d-block" for="captcha"></label>
										<input placeholder="captcha" id="captcha" class="form-control" type="text">

										<!-- CHECKBOX MOBILE -->

										<label class="checkbox-container text-dark pl-4 d-block d-sm-none"
										       style="font-size: .7rem;">
											Akceptuję regulamin i politykę prywatności serwisu (Regulamin serwisu -
											Polityka prywatności)
											<input type="checkbox">
											<span class="advanced-checkmark" style="left: 0; top: 3px;"></span>
										</label>

										<a href="#"
										   class="advanced-search-button text-white w-50 float-right mt-5 d-none d-sm-block">
											send
										</a>

										<button type="button"
										        class="advanced-search-button cancel text-white d-block d-sm-none bg-white text-black border-black z-20">
											cancel
										</button>

										<button class="advanced-search-button text-white d-block d-sm-none z-20">
											send
										</button>

									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="row">
						<div class="col">
							<div class="price-description">
								<p class="price">cena:</p>
								<h4>250.000,00 zł</h4>
								<h4>300m2</h4>
								<small>to negociate</small>
								<h2>Title Sprzedam gospodarstwo w Krępa</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
									irure
									dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
									pariatur.
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.
								</p>
								<div class="row">
									<div class="col-12 col-lg-6">
										<table class="table table-striped">
											<tbody style="font-family: 'HKGrotesk-Medium', sans-serif;">
											<tr>
												<td>piętro:</td>
												<td>2/10</td>
											</tr>
											<tr>
												<td>pokoje:</td>
												<td>6</td>
											</tr>
											<tr>
												<td>extras:</td>
												<td>lift, furnished</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="social-share">
						<button class="report-advert">Raport this advert<img alt="report" src="../../../assets/images/combined-shape.svg">
						</button>
					</div>

					<iframe class="desktop-map d-block d-lg-none"
					        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d620340.4285124696!2d19.078747192884798!3d52.60206893310197!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssr!2srs!4v1568644384820!5m2!1ssr!2srs"
					        width="100%" height="500" style="border:0; margin: 25px 0;" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FEATURED -->
<section id="featured">
	<p class="content-featured">featured</p>
	<ngx-slick-carousel
	class="slide-nav-wrapper"
	#slickNav
	[config]="navSlideConfig"
	>
	<!-- <div ngxSlickItem class="slide-nav" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" *ngFor="let eve of eventsList | slice:3"> -->
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	  <ad-card ngxSlickItem class="slide-nav featured-add" (mouseup)="onMouseUp($event)" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"></ad-card>
	<!-- </div> -->
  </ngx-slick-carousel>
</section>
