<section id="advanced-search">
	<div class="advanced-window">
		<button class="advanced-close advanced-close-style d-none d-md-inline-block" type="button">✕</button>
		<form action="">
			<div class="container-fluid mt-md-5 mt-0">
				<div class="row d-none d-md-flex">
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" checked="checked" name="sell-rent-option">
							<span class="checkmark">buy</span>
						</label>
					</div>
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" name="sell-rent-option">
							<span class="checkmark">rent</span>
						</label>
					</div>
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" name="sell-rent-option">
							<span class="checkmark">sell</span>
						</label>
					</div>
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" name="sell-rent-option">
							<span class="checkmark">swap</span>
						</label>
					</div>
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" name="sell-rent-option">
							<span class="checkmark">service</span>
						</label>
					</div>
					<div class="col-md-2">
						<label class="custom-radio-container">
							<input type="radio" name="sell-rent-option">
							<span class="checkmark">give away</span>
						</label>
					</div>
				</div>

				<div class="row mt-md-5 mt-3">
					<div class="col-lg-2 col-md-4 my-3 m-md-0">
						<input aria-label="" class="advanced-drop-input" type="text" placeholder="keyword">
					</div>
					<div class="col-lg-2 col-md-4 m-md-0">
						<div class="input-group">
							<input aria-label="" class="form-control advanced-drop-input"
							       type="text" placeholder="Location">
							<div class="input-group-append">
								<select aria-label="">
									<option value=">1km">>1km</option>
									<option value=">10km">>10km</option>
									<option value=">20km">>20km</option>
									<option value=">50km">>50km</option>
									<option value=">100km">>100km</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 col-6 m-md-0 mt-3">
						<select aria-label="">
							<option data-display="Region">Region</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
					<div class="col-lg-2 col-md-4 col-6 m-lg-0 mt-3 mt-md-3">
						<select aria-label="">
							<option data-display="Building">Building</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
					<div class="col-lg-2 col-md-4 col-6 m-lg-0 mt-3 mt-md-3">
						<select aria-label="" multiple>
							<option selected data-display="Level">Level</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
					<div class="col-lg-2 col-md-4 col-6 m-lg-0 mt-3 mt-md-3">
						<select aria-label="" multiple>
							<option selected data-display="Room">Room</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
				</div>

				<div class="row mt-md-5 mt-3">
					<div class="col-md-3 col-6 pfrom">
						<input type="text" class="pfrom-input" value="Min Price">
						<select class="pfrom-select" aria-label="">
							<option value="">Min Price</option>
							<option value="50000">£50,000</option>
							<option value="60000">£60,000</option>
							<option value="70000">£70,000</option>
							<option value="80000">£80,000</option>
							<option value="90000">£90,000</option>
							<option value="100000">£100,000</option>
							<option value="110000">£110,000</option>
							<option value="120000">£120,000</option>
							<option value="125000">£125,000</option>
							<option value="130000">£130,000</option>
							<option value="140000">£140,000</option>
							<option value="150000">£150,000</option>
							<option value="160000">£160,000</option>
							<option value="170000">£170,000</option>
							<option value="175000">£175,000</option>
							<option value="180000">£180,000</option>
							<option value="190000">£190,000</option>
							<option value="200000">£200,000</option>
							<option value="210000">£210,000</option>
							<option value="220000">£220,000</option>
							<option value="230000">£230,000</option>
							<option value="240000">£240,000</option>
							<option value="250000">£250,000</option>
							<option value="260000">£260,000</option>
							<option value="270000">£270,000</option>
							<option value="280000">£280,000</option>
							<option value="290000">£290,000</option>
							<option value="300000">£300,000</option>
							<option value="325000">£325,000</option>
							<option value="350000">£350,000</option>
							<option value="375000">£375,000</option>
							<option value="400000">£400,000</option>
							<option value="425000">£425,000</option>
							<option value="450000">£450,000</option>
							<option value="475000">£475,000</option>
							<option value="500000">£500,000</option>
							<option value="550000">£550,000</option>
							<option value="600000">£600,000</option>
							<option value="650000">£650,000</option>
							<option value="700000">£700,000</option>
							<option value="800000">£800,000</option>
							<option value="900000">£900,000</option>
							<option value="1000000">£1,000,000</option>
							<option value="1250000">£1,250,000</option>
							<option value="1500000">£1,500,000</option>
							<option value="1750000">£1,750,000</option>
							<option value="2000000">£2,000,000</option>
							<option value="2500000">£2,500,000</option>
							<option value="3000000">£3,000,000</option>
							<option value="4000000">£4,000,000</option>
							<option value="5000000">£5,000,000</option>
							<option value="7500000">£7,500,000</option>
							<option value="10000000">£10,000,000</option>
							<option value="15000000">£15,000,000</option>
							<option value="20000000">£20,000,000</option>
						</select>
					</div>
					<div class="col-md-3 col-6 pto">
						<input type="text" class="pto-input" value='Max Price'>
						<select class="pto-select" aria-label="">
							<option value="">Max Price</option>
							<option value="50000">£50,000</option>
							<option value="60000">£60,000</option>
							<option value="70000">£70,000</option>
							<option value="80000">£80,000</option>
							<option value="90000">£90,000</option>
							<option value="100000">£100,000</option>
							<option value="110000">£110,000</option>
							<option value="120000">£120,000</option>
							<option value="125000">£125,000</option>
							<option value="130000">£130,000</option>
							<option value="140000">£140,000</option>
							<option value="150000">£150,000</option>
							<option value="160000">£160,000</option>
							<option value="170000">£170,000</option>
							<option value="175000">£175,000</option>
							<option value="180000">£180,000</option>
							<option value="190000">£190,000</option>
							<option value="200000">£200,000</option>
							<option value="210000">£210,000</option>
							<option value="220000">£220,000</option>
							<option value="230000">£230,000</option>
							<option value="240000">£240,000</option>
							<option value="250000">£250,000</option>
							<option value="260000">£260,000</option>
							<option value="270000">£270,000</option>
							<option value="280000">£280,000</option>
							<option value="290000">£290,000</option>
							<option value="300000">£300,000</option>
							<option value="325000">£325,000</option>
							<option value="350000">£350,000</option>
							<option value="375000">£375,000</option>
							<option value="400000">£400,000</option>
							<option value="425000">£425,000</option>
							<option value="450000">£450,000</option>
							<option value="475000">£475,000</option>
							<option value="500000">£500,000</option>
							<option value="550000">£550,000</option>
							<option value="600000">£600,000</option>
							<option value="650000">£650,000</option>
							<option value="700000">£700,000</option>
							<option value="800000">£800,000</option>
							<option value="900000">£900,000</option>
							<option value="1000000">£1,000,000</option>
							<option value="1250000">£1,250,000</option>
							<option value="1500000">£1,500,000</option>
							<option value="1750000">£1,750,000</option>
							<option value="2000000">£2,000,000</option>
							<option value="2500000">£2,500,000</option>
							<option value="3000000">£3,000,000</option>
							<option value="4000000">£4,000,000</option>
							<option value="5000000">£5,000,000</option>
							<option value="7500000">£7,500,000</option>
							<option value="10000000">£10,000,000</option>
							<option value="15000000">£15,000,000</option>
							<option value="20000000">£20,000,000</option>
						</select>
					</div>
					<div class="col-md-3 col-6 mt-3 mt-md-0">
						<select aria-label="">
							<option data-display="Meters from">Meters from</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
					<div class="col-md-3 col-6 mt-3 mt-md-0">
						<select aria-label="">
							<option data-display="Meters to">Meters to</option>
							<option value="1">Some option</option>
							<option value="2">Another option</option>
							<option value="3">A disabled option</option>
							<option value="4">Potato</option>
						</select>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Raty
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Furnished
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Lift
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Parking
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Bills included
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
					<div class="col-md-2 col-6">
						<label class="checkbox-container text-secondary">Garage
							<input type="checkbox">
							<span class="advanced-checkmark"></span>
						</label>
					</div>
				</div>

				<div class="row justify-content-center mt-3">
					<div class="col-12 col-md-4 col-xl-2">
						<a href="search-results" class="advanced-search-button">search</a>
						<button type="button"
						        class="advanced-search-button bg-white text-green mt-3 advanced-close d-inline-block d-md-none">
							cancel
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>